h1{
  color:cornflowerblue;
  background-color: rgb(251, 230, 202);
  text-align:center;
}
h2{
  text-align: center;
}
.image-container{
  display:flex;
  justify-content: center;
  border: 2px solid greenyellow;
  background-color:antiquewhite;
}
img{
  width: 200px;
  height: 200px;
  margin: 50px;
  border: 1px solid yellow;
}